{% extends 'index.html' %}
{% block content %}
<div class="contanier">
  <!-- As a heading -->
  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Searching using ChatGPT API</span>
    </div>
  </nav>
  <br>
  <div class="container">
    <form method="post" action="{% url 'generate_response' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <input type="text" id="input" placeholder="Enter your Question" name="input" class="form-control">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    {% if generated_response %}
    <h3> Generated Response </h3>
    <p>{{generated_response}}</p>
    {% endif %}
  </div>
</div>
{% endblock %}