<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1>Generated Response:</h1>
<style>
    input {
      text-align: center;
    }
    ::-webkit-input-placeholder {
      text-align: center;
    }
    :-moz-placeholder {
      text-align: center;
    }
</style>
<form action="{% url 'generate_response' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        {% comment %} <label for="input">Enter your text:</label> {% endcomment %}
        <input type="text" id="input" placeholder="Enter your Question" name="input" class="form-control">
    </div>
    <center>
        <input type="submit" value="Submit" class="btn btn-primary">
    </center>
  </form>
<p>{{ generated_response }}</p>
{% comment %} <center>
    <h6>
        {{res}}
    </h6>
</center> {% endcomment %}
